<!DOCTYPE html>
<html>
<head>
<title>Readability API</title>
<meta http-equiv='Content-Language' content='en' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>

<p>Clean it up:</p>
<form method='get' action='/clean'>
URL: <input type='text' name='url' size='50'>
<input type='submit'><br>
<label>
  <input type='radio' name='wrap' value=''>
  No wrapping
</label><br>
<label>
  <input type='radio' name='wrap' value='html'>
  Wrap contents in &lt;html&gt; and &lt;body&gt; tags
</label><br>
<label>
  <input type='radio' name='wrap' value='rss'>
  Wrap contents in a dummy RSS feed
</label><br>
</form>

<hr>

<p>For a usage example, see
<a href='http://pipes.yahoo.com/pipes/pipe.info?_id=49cf01e39a05575a1d9c2c5b921f6bed'>Delicious Popular: Embedded</a>
via Yahoo! Pipes.</p>

</body>
</html>
