{% extends 'base.html' %}

{% block content %}
<p>Clean up a page:</p>
<form method='get' action='/clean/page'>
URL: <input type='text' name='url' size='50'>
<input type='submit'><br>
</form>

<p>Clean up a feed:</p>
<form method='get' action='/clean/feed'>
URL: <input type='text' name='url' size='50'>
<input type='submit'><br>
<label>
  <input type='checkbox' name='include' value='True'>
  Include original feed content
</label>
</form>

<p>Train on a page:</p>
<form method='get' action='/train/form'>
URL: <input type='text' name='url' size='50'>
<input type='submit'><br>
</form>
{% endblock %}
