{% extends 'base.html' %}

{% block content %}
<p>Train on another page:</p>
<form method='get' action='/train/form'>
URL: <input type='text' name='url' size='50'>
<input type='submit'><br>
</form>

<p>Training completed. Data:</p>

<table>
<tr>
  <th>Kind</th><th>Data</th><th>Spam Count</th><th>Ham Count</th>
</tr>
{% for k, v in facets %}
   <tr>
     <td>{{k.0}}</td>
     <td>{{k.1}}</td>
     <td>{{v.spam}}</td>
     <td>{{v.ham}}</td>
   </tr>
{% endfor %}
</table>

<p>Reminder, here's the ham content we trained on:</p>

<div id="training_content">{{ content|safe }}</div>
{% endblock %}
