{% extends 'base.html' %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/static/train.js"></script>
{% endblock %}

{% block content %}
<p>
  Showing the contents of <a href="{{final_url}}">{{final_url}}</a>.
  {% if url != final_url %}
  (Redirected from <a href="{{url}}">{{url}}</a>.)
  {% endif %}
</p>
<p>
  Mark up the page by: Pointing at elements with your mouse, pressing W and N
  to widen and narrow the selection, and pressing R to remove or I to isolate
  that element.
</p>
<!-- TODO: Everywhere, named URLs. -->
<form method='post' action='/train/data' class='train'>
<p>
  <input type='hidden' name='url' value='{{url}}'>
  <input type='hidden' name='html'>
  When only good content remains:
  <button type='submit'>Train the API</button>
</p>
</form>
<div id="page">{{ content|safe }}</div>
{% endblock %}
