<center>
<object width="386" height="393" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param name="allowfullscreen" value="true">
<param name="allowscriptaccess" value="always">
<param name="movie" value="http://i.cdn.turner.com/trutv/trutv.com/video/cvp/trutv_embed_container.swf?context=tru_embed&videoId={{ video_id }}">
<param name="bgcolor" value="#000000">
<embed src="http://i.cdn.turner.com/trutv/trutv.com/video/cvp/trutv_embed_container.swf?context=tru_embed&videoId={{ video_id }}" type="application/x-shockwave-flash" bgcolor="#000000" allowfullscreen="true" allowscriptaccess="always" width="386" height="393"></embed>
</object>
</center>
