<center>
<object width="720" height="578"><param name="movie" value="http://www.youtube.com/v/{{ video_id }}?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1&amp;border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{ video_id }}?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1&amp;border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="980" height="765"></embed></object>
</center>
